* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* border: solid 1px #000; */
}
nav {
  height:128px;
  padding: 1rem;
  background-color:#fff;
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



ul {
  padding: 20px;
  width:600px;
  display: flex;
  flex-direction: row;
  list-style-type:none ;
  justify-content: space-between;
}

ul li {
  font-size:18px ;
  font-weight: 500;
  margin: 0 10px ;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

ul li:hover {
  background-color: #9579c8;
  border-radius: 10px;
  color: #fff;
}

.nav-input {
  position: relative;
  display: flex;
  align-items: center;
} 

.nav-input input {
  font-size: 16px;
  height:40px;
  background-color: transparent;
  border: 1px solid gray;
  color: #000;
  padding: 8px;
  width: 10rem;
  border-radius: 10px;
}

.nav-input button {
  width: 25px ;
  position: absolute;
  background-color: transparent;
  border: none ;
  right: 10px;
  cursor: pointer;
}

.container {
  padding: 0 8rem;
  height: 960px;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  height: 560px;
}

.service {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  margin-top: 50px;
  background-color:#D3D04F ;
}


.web-icon-header {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
  margin-left: 55px;
  padding: 8px;
  background:
  linear-gradient(white, white) padding-box,
  linear-gradient(to right, #fede10, #915fc4) border-box;

  border-radius: 12px;
  border: 4px solid transparent;
  
}
.web-icon-header svg {
  width: 40px;
}

.web-icon-header h3 {
  font-size: 16px;
  width: 80px;
  text-align: center;
  align-self: center;
}

.side-title {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 48px ;
}

.side-title p {
  margin-top:30px;
  max-width: 600px;
  width: auto;
}

.side-title h1 {
  justify-self: flex-start;
  width: auto;
  max-width: 400px;
  font-size:3.5rem;
}

.side-title p ,.side-title h1 {
  padding-left:20px;
  margin-left: 20px ;
}

.side-title h6 {
  color: #9579c8;
  position: absolute;
  top : 40px ;
  left: 20px;
  transform:rotate(-30deg);
}

.figure-btn-1 {
  display: flex;
  align-items:center;
  width: 120px;
  padding: 1.1rem ;
  border-radius: 12px;
  justify-content:center;
  margin: 0 10px;
  font-weight: 400;
}

.figure-btn-1:nth-child(1) {
  background-color: #9579c8;
  color: #fff;
}

.figure-btn-1:nth-child(2) {
  background-color: #fff;
}

.figure-box {
  display:flex;
  margin:3rem 0;
  margin-left: 5rem;
}

.figure-btn-1  h6 {
  margin-right: 1em;
}

.section-btn {
  width:350px;
  height: 40px;
  margin-top: 24px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.section-btn h6 {
  align-self:center ;
}

.aside-img {
  flex-grow:1;
  position: relative;
  background-image: url(https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/gzZpBDV3nX1AWytfLhbgs/d528553697d959544c8ca5b80b6d8beb/web_developer.png?w=1500&h=680&q=60&fit=fill&f=faces&fm=jpg&fl=progressive&auto=format%2Ccompress&dpr=1&w=1000&h=);
  background-position: calc(100% + 300px);
  background-size: cover;
  border-radius: 10%;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin: 20px;
} 

.aside-img p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  top:5rem ;
  left:5rem; 
  color:white;
  font-size: 20px;
  text-align: center;
  width: 14rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px;
  box-shadow: 0px 0px 7px 10px rgba(255, 255, 255, 0.3);
  border-radius: 5%;
}

.icon-img {
  background-color: #DDE6ED;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: none;
  cursor: pointer;
}


.icon-img img {
  position: absolute;
  top: 17%;
  left:17%;
  width: 26px;
}

.article-1 {
  flex-grow: 1;
  width: 100px;
  padding: 0 50px;
  height: 530px;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.service {
  padding-top : 60px ;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-2 {
  width: 480px;
  padding: 0 50px;
}

.article-2 h1 , .article-2 p {
  padding-left:40px;
}

.article-2 h1  {
  font-size: 5rem;
}


.Explore-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #9579c8;
  border: none;
}

main.service aside {
  padding-right: 100px;
}